<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="<%= csrfToken %>" name="_csrf">
    <title><%= title %></title>
    <link href="./css/dashboard.css" rel="stylesheet">
    <link href="./css/report.css" rel="stylesheet">
    <link href="./css/nav.css" rel="stylesheet">
</head>
<body>
<%- include("nav.ejs",{admin:admin}) %>
<main>
    <h1>Here is the report, <span class="user"><%= user %></span></h1>
    <div class="popularity">
        <h2>Popularity</h2>
        <div class="popular-group">
            <div class="popular-item">
                <p class="key">Most Popular Sport</p>
                <% if(sportCount){ %>
                    <p class="value"><%= sportCount %></p>
                <% }else{ %>
                    <p class="empty">No Session</p>
                <% } %>
            </div>
            <div class="popular-item">
                <p class="key">Most Popular Month</p>
                <% if(sportDate){ %>
                    <p class="value"><%= sportDate %></p>
                <% }else{ %>
                    <p class="empty">No Date</p>
                <% } %>
            </div>
            <div class="popular-item">
                <p class="key">Most Active User</p>
                <% if(sportUser){ %>
                    <p class="value"><%= sportUser %></p>
                <% }else{ %>
                    <p class="empty">No User</p>
                <% } %>
            </div>
        </div>
    </div>
    <div class="numbers">
        <h2>Number of sports sessions occurred</h2>
        <div class="number-group">
            <% if(Object.keys(sportSessions).length === 0){ %>
                <p class="empty">No Sport</p>
            <% } else{ %>
                <% for(let i = 0;i < Object.keys(sportSessions).length;i++){ %>
                    <div class="number-item">
                        <p class="key"><%= Object.keys(sportSessions)[i] %></p>
                        <p class="value"><%= Object.values(sportSessions)[i] %></p>
                    </div>
            <% } } %>
        </div>
    </div>
</main>
</body>
</html>
